<!DOCTYPE html>
<html>
    <head>
        <title>Country Compare</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <style>
            .leaflet-container {  /* all maps */
                width: 58%;
                padding-top: 34%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Comparethesize</a>
            </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About this website</a></li>
                    <li><a href="{% url 'tutorial' %}">Geodjango tutorial</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
        {% block content %}{% endblock content %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                    <div class="col-lg-12">
                        <div class="col-md-8">
                            <a href="#">Terms of Service</a> | <a href="#">Privacy</a>    
                        </div>
                    <div class="col-md-4">
                        <p class="muted pull-right">© 2018 MSD </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>