<!DOCTYPE html>
<html>
    <head>
        <title>Country Compare</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <style>
            .leaflet-container {  /* all maps */
                width: 58%;
                padding-top: 34%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Comparethesize</a>
            </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About this website</a></li>
                    <li><a href="{% url 'tutorial' %}">Geodjango tutorial</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
        
            <p> <b><span style="color: green">{{ small_country }}</span></b> fits <b>{{ multiplier }} times</b> in <b><span style="color: red">{{ large_country }}</span></b></p>
                <div id="map_init_basic" class="leaflet-container"></div>
                <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
                <script>

                var LargeCountryStyle = {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.25
                };
                
                var SmallCountryStyle = {
                    color: 'green',
                    fillColor: '#7CFC00',
                    fillOpacity: 0.25
                };

                var LargeCountryLayer = new L.GeoJSON(
                    {% autoescape off %}
                    {{ large_country_geojson }} 
                    {% endautoescape %}, {
                        style: LargeCountryStyle
                    }
                );
                    
                var SmallCountryLayer = new L.GeoJSON(
                    {% autoescape off %}
                    {{ small_country_geojson }} 
                    {% endautoescape %}, {
                        style: SmallCountryStyle
                    }
                );
 
                var worldmap = L.map('map_init_basic').setView([0.00, 0.00], 1);

                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(worldmap);
                
                LargeCountryLayer.addTo(worldmap);
                SmallCountryLayer.addTo(worldmap);


                </script>
                <br>
                <p> <a href="/">Click here</a> to compare two other countries</p>
            </div>
        </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                    <div class="col-lg-12">
                        <div class="col-md-8">
                            <a href="#">Terms of Service</a> | <a href="#">Privacy</a>    
                        </div>
                    <div class="col-md-4">
                        <p class="muted pull-right">© 2018 MSD </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>